@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 14.90%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 14.90%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 14.90%;
    --primary: 37.69 92.13% 50.20%;
    --primary-foreground: 0 0% 0%;
    --secondary: 220.00 14.29% 95.88%;
    --secondary-foreground: 215 13.79% 34.12%;
    --muted: 210 20.00% 98.04%;
    --muted-foreground: 220 8.94% 46.08%;
    --accent: 48.00 100.00% 96.08%;
    --accent-foreground: 22.73 82.50% 31.37%;
    --destructive: 0 84.24% 60.20%;
    --destructive-foreground: 0 0% 100%;
    --border: 220 13.04% 90.98%;
    --input: 220 13.04% 90.98%;
    --ring: 37.69 92.13% 50.20%;
    --chart-1: 37.69 92.13% 50.20%;
    --chart-2: 32.13 94.62% 43.73%;
    --chart-3: 25.96 90.48% 37.06%;
    --chart-4: 22.73 82.50% 31.37%;
    --chart-5: 21.71 77.78% 26.47%;
    --sidebar: 210 20.00% 98.04%;
    --sidebar-foreground: 0 0% 14.90%;
    --sidebar-primary: 37.69 92.13% 50.20%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 48.00 100.00% 96.08%;
    --sidebar-accent-foreground: 22.73 82.50% 31.37%;
    --sidebar-border: 220 13.04% 90.98%;
    --sidebar-ring: 37.69 92.13% 50.20%;
    --font-sans: Inter, sans-serif;
    --font-serif: Source Serif 4, serif;
    --font-mono: JetBrains Mono, monospace;
    --radius: 1.025rem;
    --shadow-2xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 1px 2px -2px hsl(0 0% 0% / 0.10);
    --shadow: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 1px 2px -2px hsl(0 0% 0% / 0.10);
    --shadow-md: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 2px 4px -2px hsl(0 0% 0% / 0.10);
    --shadow-lg: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 4px 6px -2px hsl(0 0% 0% / 0.10);
    --shadow-xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 8px 10px -2px hsl(0 0% 0% / 0.10);
    --shadow-2xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.25);
  }
  
  .dark {
    --background: 0 0% 9.02%;
    --foreground: 0 0% 89.80%;
    --card: 0 0% 14.90%;
    --card-foreground: 0 0% 89.80%;
    --popover: 0 0% 14.90%;
    --popover-foreground: 0 0% 89.80%;
    --primary: 37.69 92.13% 50.20%;
    --primary-foreground: 0 0% 0%;
    --secondary: 0 0% 14.90%;
    --secondary-foreground: 0 0% 89.80%;
    --muted: 0 0% 14.90%;
    --muted-foreground: 0 0% 63.92%;
    --accent: 22.73 82.50% 31.37%;
    --accent-foreground: 48 96.64% 76.67%;
    --destructive: 0 84.24% 60.20%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 25.10%;
    --input: 0 0% 25.10%;
    --ring: 37.69 92.13% 50.20%;
    --chart-1: 43.26 96.41% 56.27%;
    --chart-2: 32.13 94.62% 43.73%;
    --chart-3: 22.73 82.50% 31.37%;
    --chart-4: 25.96 90.48% 37.06%;
    --chart-5: 22.73 82.50% 31.37%;
    --sidebar: 0 0% 5.88%;
    --sidebar-foreground: 0 0% 89.80%;
    --sidebar-primary: 37.69 92.13% 50.20%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 22.73 82.50% 31.37%;
    --sidebar-accent-foreground: 48 96.64% 76.67%;
    --sidebar-border: 0 0% 25.10%;
    --sidebar-ring: 37.69 92.13% 50.20%;
    --font-sans: Inter, sans-serif;
    --font-serif: Source Serif 4, serif;
    --font-mono: JetBrains Mono, monospace;
    --radius: 1.025rem;
    --shadow-2xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 1px 2px -2px hsl(0 0% 0% / 0.10);
    --shadow: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 1px 2px -2px hsl(0 0% 0% / 0.10);
    --shadow-md: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 2px 4px -2px hsl(0 0% 0% / 0.10);
    --shadow-lg: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 4px 6px -2px hsl(0 0% 0% / 0.10);
    --shadow-xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.10), 0px 8px 10px -2px hsl(0 0% 0% / 0.10);
    --shadow-2xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.25);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* For Webkit browsers */
::-webkit-scrollbar {
  width: 4px; /* Width of the scrollbar */
  height: 8px; /* Height of the scrollbar for horizontal scrollbars */
}

::-webkit-scrollbar-track {
  background: hsl(var(--muted)); 
  /* opacity: 0.1; */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: hsl(0, 4%, 89%); /* Color of the thumb */
  opacity: 0.1; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: hsl(var(--primary)); /* Color of the thumb on hover */
}

/* For Firefox */
/* Apply to the element that has the scrollbar, often html or body */
/* html {
  scrollbar-width: thin; 
  scrollbar-color: hsl(0 0% 80%) hsl(var(--muted)); 
  scrollbar-border-radius: 10px;
} */

/* You might need to apply this to specific scrollable containers too */
/* .your-scrollable-container {
  scrollbar-width: thin;
  scrollbar-color: hsl(var(--secondary-foreground)) hsl(var(--muted));
} */

/* If you want different scrollbars in different parts,
   you can scope the ::-webkit-scrollbar styles like this: */
/* .specific-area::-webkit-scrollbar {
  width: 12px;
}
.specific-area::-webkit-scrollbar-thumb {
  background: hsl(var(--accent-foreground));
}
.specific-area::-webkit-scrollbar-track {
  background: hsl(var(--accent));
}

.specific-area {
  scrollbar-width: auto;
  scrollbar-color: hsl(var(--accent-foreground)) hsl(var(--accent));
} */
